.home{
    position:fixed;
    left:40%;
}
.or{
    display:flex;
    justify-content: center;
}
.social-btn{
    width:300px;
    margin-top:20px;
    background-color: lawngreen;
    border-radius: 10px;
    padding:10px;
}
.home{
    border:1px solid red;
}
@media screen and (max-width:767px){
    .home{
        position:fixed;
        left:10px;
        right:10px;
        height:700px;
    }
    .social-btn{
        margin-top:5px;
        padding:10px;
    }
}
@media screen and (max-width:376px){
    .home{
        height:800px;
    }
    .input-field{
        width:290px;
        margin-top:5px;
    }
    .submit-btn{
        margin-top:-10px;
        width:290px;
    }
    .social-btn{
        margin-top:5px;
    }
}